html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font: 16px/1.5 'Main-Font', sans-serif;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p {
  margin-top: 0;
}

/* header */
.header {
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
}

[hidden] {
  display: none !important;
}

.container{
  display: flex;
  display: -webkit-flex;
  max-width: 1000px;
  margin: 0 auto;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: space-around; */
}

#h-top-line{
  background-color: #00122f;
  height: 55px;
  color: #ffffff;
  font-size: 16px;
}
  #h-top-head{
    margin-top: 15px;
  }
  #h-top-time{
    margin-top: 15px;
    margin-left: auto;
    padding-right: 10px;
  }
  #h-top-line a{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  /* подгонка верстки с помощью media для верхнего блока */
    @media (max-width:1010px){
      #h-top-head{
        margin-left: 10px;
      }
    }

    @media(max-width: 480px){
      #h-top-head{
        margin-right: 10px;
      }
      #h-top-time{
        display: none;
      }
    }

    @media(max-width: 510px){
      #h-top-head{
        font-size: 13px;
        margin: 15px 10px;
      }
      #h-top-time{
        font-size: 13px;
      }
    }

.line-break {
  width: 100%;
}

#h-top-info{
  color: #91919f;
}

#h-top-info .container {
  padding-top: 40px;
}

#h-logo{
  /* flex-basis: 160px; */
  padding-left: 5px;
  margin-right: 5px;
}
#h-logo-600{
  display: none;
}

#h-city-1000{
  /* flex-basis: 100px; */
  margin: 10px 10px 10px 10px;
}
  .select-wrapper{
    display: block;
    position: relative;
    font-size: 0;
    padding-bottom: 5px;
  }
    .select-wrapper::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 21px;
      height: 1px;
      border-bottom: 2px dashed #689ed2;
      width: 55px;
    }
  .select{
    border: 0;
    color: #448ccb;
    width: 75px;
    font-size: 16px;
    background: url('../img/down-arrow.png') 100% center no-repeat;
    background-size: 10px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  #date{
    margin-top: 10px;
    /* flex-basis: 190px; */
  }
  #short-date{
    display: none;
  }

  #time{
    /* flex-basis: 120px; */
    margin-top: 10px;
    padding-left: 25px;
    background-image: url('../img/clock.png');
    background-repeat: no-repeat;
    background-position: top 4px left;
  }
#weather{
    /* flex-basis: 120px; */
    margin-top: 10px;
    padding-left: 35px;
    background-image: url('../img/cloudy.png');
    background-repeat: no-repeat;
    background-position: top 0px left;
  }
  #search{
    margin-right: 5px;
  }
    .header-search {
      position: relative;
      float: right;
      width: 290px;
      font-size: 14px;
    }
    .search {
      width: 100%;
      padding: 10px 50px 12px 20px;
      border: 0;
      font: inherit;
      color: #000;
      background-color: #f3f3f3;
      border-radius: 20px;
    }
    .search-label {
      position: absolute;
      top: 12px;
      left: 20px;
      color: #c9c9c9;
    }
    .search-submit {
      position: absolute;
      top: 15px;
      right: 20px;
      border: 0;
      padding: 0;
      width: 16px;
      height: 16px;
      background: transparent url('../img/search.png') center no-repeat;
      background-size: contain;
      cursor: pointer;
    }

  #search-600{
    display: none;
    padding-right: 10px;
    padding-top: 15px;
  }
    .search-submit-600 {
      border: 0;
      padding: 0;
      width: 16px;
      height: 16px;
      background: transparent url('../img/search.png') center no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  #menu-mobile{
    display: none;
  }
  #line-div{
    display: none;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .1);
  }

@media(max-width: 860px){
      #h-city-1000{
        display: none;
      }
    }
@media(max-width: 830px){
    .header-search {
        width: 180px;
    }
}
@media(max-width: 630px){
    #search-1000{
      display: none;
    }
    #search-600{
      display: block;
    }
}

@media(max-width: 510px){
  .container-header{
    flex-flow: wrap;
  }
  #h-logo-1000{
    display: none;
  }
  #h-logo-600{
    display: block;
  }
  #h-top-info .container {
    padding: 10px 25px 10px 25px;
  }
  #h-logo{
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
    width: 70%;
  }
  #h-logo img{
    margin:auto;
  }
  #search{
    -webkit-order: 3;
    -moz-order: 3;
    -ms-order: 3;
    -o-order: 3;
    order: 3;
    margin-top: -12px;
  }
  #line-div{
    -webkit-order: 4;
    -moz-order: 4;
    -ms-order: 4;
    -o-order: 4;
    order: 4;
  }
  #date{
    -webkit-order: 5;
    -moz-order: 5;
    -ms-order: 5;
    -o-order: 5;
    order: 5;
  }
  #time{
    -webkit-order: 6;
    -moz-order: 6;
    -ms-order: 6;
    -o-order: 6;
    order: 6;
  }
  #weather{
    -webkit-order: 7;
    -moz-order: 7;
    -ms-order: 7;
    -o-order: 7;
    order: 7;
  }
  #menu-mobile{
    display: flex;
    margin-top: 5px;
  }
  .big-menu{
    display: none;
  }
  #short-date{
    display: block;
  }
  #long-date{
    display: none;
  }
  #line-div{
    display: flex;
    width: 100%;
  }
}

/* mobile menu */
    .menu-triger {
      display: block;
      width: 25px;
      height: 17px;
      background: url(../img/burger.png) 0 0 repeat;
/*       position: absolute;
left: 15px;
top: 28px; */
    }
    .menu-close {
      display: block;
      width: 28px;
      height: 28px;
      background: url(https://snipp.ru/demo/449/close.png) 0 0 repeat;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 100;
    }
    .menu-popup {
      display: none;
      background: #2c2e3e;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0;
      padding: 30px;
      z-index: 9999;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .menu-popup ul {
      margin: 0;
      padding: 0;
    }
    .menu-popup li {
      list-style: none;
      margin: 10px 0;
      padding: 0;
    }
    .menu-popup li a {
      font-size: 18px;
      font-family: "Arial";
      color: rgb(255, 255, 255);
      line-height: 1.4;
      text-decoration: none;
    }
    .body_pointer * {
      cursor: pointer;
    }


/* menu main big */
#nav-wrapper{
  width: 90%
}

.menu-wrapper{
  margin: 0 auto;
  width: 100%;
}

.menu-list {
/*   margin: 0;
padding: 0; */
  list-style: none;
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 /*  justify-content: space-around; */
  padding-inline-start: 5px;
}

.menu-item::after{
  content: "/";
  /* width: 100%; */
  color: #91919f;
  margin: 0 10px;
}

.menu-item:last-child::after{
  display: none;
}

.menu-item {
  /* display: inline-block; */
  padding: 0px;
}
@media(max-width: 915px){
  .menu-item::after{
    margin: 0 5px;
  }
}
@media(max-width: 830px){
  .menu-item::after{
    margin: 0 2px;
  }
  #nav-wrapper{
    width: 100%;
    margin-right: 5px;
  }
@media(max-width: 830px){
  .menu-item::after{
    margin: 0;
  }
@media(max-width: 670px){
  .menu-list {
    font-size: 12px;
  }
}
